* {
  transition: all 0.3s;
}

body {
  background-color: #faf9f7;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
.bg-brown {
  background-color: #f5f3ef;
}

footer {
  background-color: white;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1,
h2,
.font-playfair {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

a {
  text-decoration: none;
}

.main-button {
  background-color: #00ac66;
  border-radius: 15px;
  display: block;
  padding: 22px 38px;
  color: white;
  text-decoration: none;
  font-size: larger;
}

.main-button:hover {
  background-color: #06804f;
}

.secondary-button {
  border-radius: 15px;
  border: 1px solid #00ac66;
  display: block;
  padding: 22px 38px;
  color: #00ac66;
  text-decoration: none;
  font-size: larger;
}

.secondary-button:hover {
  color: white;
  border-color: #06804f;
  background-color: #06804f;
}

.bg-lightgrey {
  background-color: #faf9f7;
}

.text-grey {
  color: #a6a6a6;
}

.img-holder {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.book-holder {
  overflow: hidden;
  aspect-ratio: 1/1;
}

.book-holder img {
  height: 100%;
  object-fit: cover;
}

.img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-img {
  overflow: hidden;
  height: 84.5vh;
}

@media screen and (max-device-width: 799px) {
  .cover-img {
    height: 450px;
  }
}

.cover-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-banner {
  overflow: hidden;
}

@media screen and (max-device-width: 799px) {
  .img-banner {
    height: 450px;
  }

  #discussion-holder {
    height: 40vh;
  }
}

.img-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.underline-link {
  text-decoration: underline;
}

.separator {
  width: 50%;
  border-width: 1px;
}

.text-sm {
  font-size: 0.75rem;
}

.text-red {
  color: red;
}

.fit-content {
  width: fit-content;
}

.label {
  color: white;
  font-size: 0.7rem;
}

.label-available {
  background-color: #6dc5a1;
}

.label-not-available {
  background-color: #c56d6d;
}

.bg-darkgrey {
  background-color: #edf2f6;
}

.bg-yellow {
  background-color: #f5f3ef;
}

.library-table tr:nth-child(even) {
  background-color: #edf2f6 !important;
}

.library-table tr:nth-child(even) td {
  background-color: transparent;
}

.w-15 {
  width: 15%;
}

#profile_picture,
#cover_picture {
  display: none;
}

.btn-light {
  background-color: transparent;
  border: none;
}

.pointer {
  cursor: pointer;
}

.bg-light-blue {
  background-color: #edf2f6;
}

.discussion-table tr,
.discussion-table td {
  background-color: transparent !important;
  border-width: 0 !important;
}

.discussion-table tr.active-discussion {
  background-color: white !important;
}

.discussion {
  height: 64vh;
  overflow-y: auto;
}
